<div>
    <section>
        <h2>In general for all projects</h2>
        <p>We are not looking for a tool with a huge range of flexibility in layout and type of content. The crux is creating a clean simple and usable tool.</p>
        <p>These are not exhaustive lists, feel free to add your own ideas and features. Each point on the list should be interpreted by you and your team. But, we are sticklers for the details so never assume, always ask.</p>
        <p>The lists are accumulative so that an A requires that B, C and general requirements are met.</p>
        <p>Having done everything on the list will not entitle you to that grade. The quality of your work will be a vital part of the assessment.</p>
        <p>There might be mistakes / typos in the requirements. If so, it is the lecturer’s interpretation that is correct.</p>
    </section>
</div>