<div>
    <section>
        <h2>Gruppe</h2>
        <ul>
            {{#group}}
        </ul>
    </section>
    <section>
        <!--
            Thoughts about possible content for the report:
- Explain what your project is about using your own words. (2 paragraphs)
- Outline the features you have implemented (1 paragraph each)
- Emphasise interesting technical solutions that you have adopted (1/2 to 1 page)
- Outline known non-trivial issues and causes and possible solutions (1/2 page)
- Rave about functionality that is in addition to the requirements. (1+ page)
- Discuss future improvements. (1/2 page)
- Comment on the technology stack. (1/2 page)
- Outline the project process (how your group worked) and reflect. (1/2 to 1 page)
- Summarise learning outcomes. (1/2 to 1 page)
- Have some sort of conclusion that sums up your work, learning etc.(1/2 to 1 page)
        -->
        <p>
            <strong>What was your project about</strong><br />
            In your own words describe what the goals of the project was. (~2 paragraphs)
        </p>
        <textarea id="aboutProject" maxlength="500">

        </textarea>


        <p>
            <strong>What features did you impliment?</strong><br />
            Outline key features you have implemented (1 paragraph each)
        </p>
        <textarea id="features">

        </textarea>
    </section>
</div>